@model IEnumerable<FreelancerSpace.Models.ProdutosServicosModel>

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista de Produtos/Serviços</title>
</head>
<body>
<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<input type="text" id="txtbusca" class="form-control" />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRamoAtividadeNavigation.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tablebody">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRamoAtividadeNavigation.Nome)
            </td>
            <td>
                @Html.ActionLink("Editar", "Create", "ProdutosServicos", new { id = item.Id }) |
                @Html.ActionLink("Excluir", "Excluir", "ProdutosServicos", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
<span>@ViewBag.message</span>
@section Scripts{
    <script>
        console.log(soma(1, 2));
        const busca = searchServProd;
        $('#txtbusca').on("keyup", () => {
            busca($('#txtbusca').val(), (ret) => {
                console.log(ret);
                if (ret.length > 0) {
                    $("#tablebody").empty();
                    ret.forEach((elem, i) => {
                        const linha = $("<tr>", {});
                        const coluna0 = $("<td>", { text: elem.id });
                        const coluna1 = $("<td>", { text: elem.nome });
                        const coluna2 = $("<td>", { text: elem.descricao });
                        const coluna3 = $("<td>", { text: elem.idRamoAtividadeNavigation.nome});
                        const coluna4 = $("<td>", {});
                        const b1 = $("<a>", { text: "Alterar", href: "/ProdutosServicos/Create/" + elem.id });
                        const b2 = $("<a>", { text: "Excluir", href: "/ProdutosServicos/Excluir/" + elem.id });
                        coluna4.append(b1).append(" | ").append(b2);
                        linha.append(coluna0).append(coluna1).append(coluna2).append(coluna3).append(coluna4);
                        $("#tablebody").append(linha);
                    })
                }
            });
        });
    </script>
} 
</body>
</html>
