@model IEnumerable<FreelancerSpace.Models.ProdutosServicosModel>

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista de Produtos/Serviços</title>
</head>
<body>
<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<input type="text" id="txtnome" class="form-control" />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRamoAtividadeNavigation.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody name="tablebody">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRamoAtividadeNavigation.Nome)
            </td>
            <td>
                @Html.ActionLink("Editar", "Create", "ProdutosServicos", new { id = item.Id }) |
                @Html.ActionLink("Excluir", "Excluir", "ProdutosServicos", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
<span>@ViewBag.message</span>
@section Scripts{
    <script>
        console.log(soma(1, 2));
        const busca = searchServProd;
        $('#txtnome').on("keyup", () => {
            busca($('#txtnome').val(),(ret) => console.log(ret));
        });
    </script>
} 
</body>
</html>
