@model IEnumerable<FreelancerSpace.Models.ProdutosServicosModel>

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista de Produtos/Serviços</title>
</head>
<body>
<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<input type="text" id="txtnome" class="form-control" />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRamoAtividadeNavigation.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody name="tablebody">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRamoAtividadeNavigation.Nome)
            </td>
            <td>
                @Html.ActionLink("Editar", "Create", "ProdutosServicos", new { id = item.Id }) |
                @Html.ActionLink("Excluir", "Excluir", "ProdutosServicos", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
<span>@ViewBag.message</span>
@section Scripts{
    <script>
        $("#txtnome").on("keyup", () =>
        {
            $.ajax({
                type: "GET",
                url: "/ProdutosServicos/Listar?name=" + $('#txtnome').val(),
                contentType: "application/json; charset=utf-8",
                data: "{}",
                dataType: "json",
                success: function (jsonResult) {
                    console.log(jsonResult);
                    jsonResult.forEach((item) => {
                        $("#tablebody").html("<tr><td>" + item.nome + "</td><td>" + item.nescricao + "</td>" + "<td>" + item.idRamoAtividadeNavigation.nome + "</td> </tr>")
                    });
                },
                failure: function (response) {
                    alert("Erro ao carregar os dados: " + response);
                }
            });
        });

    </script>
} 
</body>
</html>
