@model IEnumerable<FreelancerSpace.Models.ProdutosServicosModel>

@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRamoAtividadeNavigation.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRamoAtividadeNavigation.Nome)
            </td>
            <td>
                @Html.ActionLink("Editar", "Create", "ProdutosServicos", new { id = item.Id }) |
                @Html.ActionLink("Excluir", "Excluir", "ProdutosServicos", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
    <span>@ViewBag.message</span>
</body>
</html>
