@model IEnumerable<FreelancerSpace.Models.RamoAtividadeModel>

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ramo de Atividade</title>
</head>
<body>
<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.ActionLink("Editar", "Create", "RamoAtividade", new { id = item.Id }) |
                @Html.ActionLink("Excluir", "Excluir", "RamoAtividade", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
<span>@ViewBag.message</span>
</body>
</html>
